<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" type="image/x-icon" href="../imgs/LOGO.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="Dashboared_style.css">

  <title>Dashboard</title>
</head>

<body>
  <div id="navleftbar">
    <div class="line"></div>
    <a href="/"> <img src="../imgs/LOGO.png" alt="" id="logo"></a>
    <div id="icons">
      <img src="../imgs/active.png" alt="">
      <a href="/admin/users"><svg  class="iconnav" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
        class="bi bi-card-list" viewBox="0 0 16 16">
        <path
          d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
        <path
          d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" /></a>
          <a href="/admin/event">  <img src="../imgs/event.png" alt=""></a>
        </svg> <svg class="iconnav" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-settings">
        <circle cx="12" cy="12" r="3"></circle>
        <path
          d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
        </path>
      </svg>
    </div>

  </div>
  <div id="content">
    <div id="navbar">
      <h1>Dashboard</h1>
      <div id="notleft">
        <img src="../imgs/notOn.png" alt="" id="not">

        <p id="username" onclick="location.href='/profile/<%= userIn.username %>'" style="cursor: pointer;"> <%= userIn.username %> </p>
        <img src="<%= userIn.profile_pic %>" alt="" id="pfp">
      </div>
    </div>
    <section class="sec1">
      <div class="des1">
        <div class="desup1">
          <div class="upleft1">
            <h4><%= TotalIncome.total_income %></h4>
            <p>Total Income</p>
          </div>
          <div class="imgdiv1">
            <img src="../imgs/money.png" alt="">
          </div>
        </div>
        <p class="dates1">From <%=TotalIncome.last_week_date%> To <%=TotalIncome.cur_date%></p>
      </div>
      <div class="des2">
        <div class="desup2">
          <div class="upleft">
            <h4><%= TotalOrder.order %></h4>
            <p>Total Orders</p>
          </div>
          <div class="imgdiv2">
            <img src="../imgs/SH.png" alt="">
          </div>
        </div>
        <p class="dates2">From <%=TotalOrder.last_week_date%> To <%=TotalOrder.cur_date%></p>
      </div>
      <div class="des3">
        <div class="desup3">
          <div class="upleft">
            <h4><%= TotalUsers.user_cnt %> </h4>
            <p>Total NewUsers</p>
          </div>
          <div class="imgdiv3">
            <img src="../imgs/33308.png" alt="">
          </div>
        </div>
        <p class="dates3">From <%=TotalUsers.last_week_date%>  To <%=TotalUsers.cur_date%> </p>
      </div>
      <div class="des4">
        <div class="desup4">
          <div class="upleft">
            <h4><%= TotalBlogs.blogs_cnt %> </h4>
            <p>Total NewBlogs</p>
          </div>
          <div class="imgdiv4">
            <img src="../imgs/2125457.png" alt="">
          </div>
        </div>
        <p class="dates4">From <%=TotalBlogs.last_week_date%> To <%=TotalBlogs.cur_date%></p>
      </div>
    </section>
    <section class="sec2">
    <div id="chart"></div>
    <div id="chart"></div>

  </section>
  <section class="sec3">
    <h2> Books to Approve</h2>
    <table>
      <tr>
        <td>NO</td>
        <td>ID</td>
        <td>Date</td>
        <td>BookName</td>
        <td>Author</td>
        <td>Price</td>
        <td>Action</td>
      </tr>
      <% let cnt=1 %> 
      <% BooksToApprove.forEach(book => { %>
       
        <tr>
          <td><%= cnt %><% cnt++ %></td>
          <td><%= book.book_id %></td>
          <td><%= book.date_published %></td>
          <td><%= book.title %></td>
          <td onclick="location.href='/profile/<%= book.username %>'" style="cursor: pointer;"><%= book.username %> </td>
          <td><%= book.price %> </td>
          <td>
            <button class="Accept" onclick="Accept('<%= book.book_id %>')">Accept</button>
            <button class="declined" onclick="Decline('<%= book.book_id %>')">Decline</button>
          </td>
        </tr>
      <% }) %>
     
    </table>
  </section>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="../node_modules/timeme.js/timeme.min.js"></script>
  <script type="text/javascript">
      // Initialize library and start tracking time
      TimeMe.initialize({
        currentPageName: "Dashboard", // current page
        idleTimeoutInSeconds: 15 // seconds
      });
      let timeSpentOnPage = TimeMe.getTimeOnCurrentPageInSeconds();
      TimeMe.callWhenUserLeaves(function(){
	console.log("The user is not currently viewing the page!");
  xmlhttp=new XMLHttpRequest();
	xmlhttp.open("POST","http://localhost:8000/test", true);
    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	let timeSpentOnPage = TimeMe.getTimeOnCurrentPageInSeconds();
	xmlhttp.send(timeSpentOnPage);
}, 5);
window.onbeforeunload = function (event) {

	xmlhttp=new XMLHttpRequest();
	xmlhttp.open("POST","http://localhost:8000/test", true);
    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	let timeSpentOnPage = TimeMe.getTimeOnCurrentPageInSeconds();
	xmlhttp.send(timeSpentOnPage);
};
async function Accept(i) {
 let x=await   axios({
  method: 'post',
  url: '/acceptBOOK',
  data: {
  id:i
  }
});
location.reload();
}
async function Decline(i) {
 let x=await   axios({
  method: 'post',
  url: '/declineBook',
  data: {
  id:i
  }
});
location.reload();
}
  </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="appDash.js"></script>
</body>

</html>